.input-wrapper {
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
}

.add {
  width: 35px; height: 35px;
  border-radius: 100%;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;
  font-size: 35px;
  margin: 0 15px 0 0;
  cursor: pointer;
}

.add:hover {
  background: #fff;
  color: #1877f7;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 250px; height: 35px;
  font-size: 25px;
  border-bottom: 0.5px solid #fff;
}
